[2016-02-01 22:56] richardxdubois opened #1 "Prepare Best Practices tutorial for spring 2016 collaboration meeting"
Cover coding rules, use of GitHub for development etc as introduction to software best practices. Try to show benefit of using them! Maybe engage Brian Van Klaveren?

[2016-02-01 23:57] richardxdubois opened #2 "Prepare NERSC tour for 2016 spring collaboration meeting"
Introduce the collaboration to computing at NERSC starting from how to get an account to giving the lay of the land once logged in. Consider an interactive tutorial. @djbard, @TomGlanzman and @heather999

[2016-02-02 00:01] richardxdubois opened #3 "Prepare Docker tutorial for spring 2016 collaboration meeting"
Debbie will be giving an OpSim in Docker tutorial at the JTM. Build on this for DESC. How to make, run and get results from containers; a few examples OpSim, PhoSim, GalSim. Anything else?

[2016-02-02 00:04] richardxdubois opened #4 "Invite interested collaborators to get NERSC accounts before the collaboration meeting"
In prep for the NERSC tutorial, invite people to get accounts at NERSC to sing along.

[2016-02-02 00:09] richardxdubois opened #5 "Perform reprocessing at NERSC"
We need to confirm that NERSC can handle our HTC workflows. Image level reprocessing has been identified as a good test of this. Should engage reprocessing with Workflow Engine (or think about it). @boutigny @tony-johnson @wenaus @nugent68 @salmanhabib are known interested parties.

[2016-02-02 00:15] richardxdubois opened #6 "Assess DM standards against CI2 "Easy Decisions" table"
Look at DM's solutions for each of the CI2 infrastructure choices (eg coding standards, continuous integration, repository organization, code reviews etc) and assess whether they would be appropriate to adopt for DESC. Interested parties might be @parejkoj @jchiang87 Brian Van Klaveren, @connolly

[2016-02-02 00:18] richardxdubois opened #7 "Instrument Twinkles with CosmoSIS"
After the initial prototype cobbling the Twinkles elements into a workflow engine, configure the elements with CosmoSIS and run them with the workflow engine. Interested parties might be @TomGlanzman @joezuntz @tony-johnson.

[2016-02-02 00:29] richardxdubois opened #8 "Prepare Common WG Tools session for 2016 spring collaboration meeting"
Andy has proposed we interview the WGs to find out what tools they might be needing in common. This can include scrubbing the SRM for tools and engaging the WGs well before the collaboration meeting. @connolly @rmandelb have agreed to lead this.

[2016-02-02 00:34] richardxdubois commented on #3
@joezuntz thought he might collaborate on a CosmoSIS Docker attempt.

[2016-02-02 02:36] salmanhabib commented on #5
Lets' first start with the actual compute/IO kernels before worrying
about any workflow management. If the first part doesn't work, there's
no point worrying about the second part.

Where do we get the software from -- LSST DM?

On 2/1/16 6:09 PM, Richard Dubois wrote:

[2016-02-02 10:00] joezuntz commented on #3
Someone created an image for us here:
https://hub.docker.com/r/binet/cosmosis/
so understanding how to:
 - run that with simple access to all the results (ideally via file system directly)
 - run it under MPI on NERSC

would be handy for me personally!

[2016-02-02 15:56] heather999 commented on #2
Hi, I noticed Debbie's query concerning how we set things up at SLAC. Currently we have been installing our own copy of anaconda python and then building DMstack against that, and adding in the catalog and MAF tools.  More recently I've been helping Harvard set up their machines.
I just received my NERSC account and have taken a quick peek around. The new conda installation for DM is very easy and

[2016-02-02 16:18] rmandelb commented on #8
@connolly , how shall we start?  Do you want to do a bit of brainstorming to see what kind of things we separately come up with, then see what the WG conveners have to say about it?

[2016-02-02 16:56] drphilmarshall commented on #8
The all-new [Monitor](
https://github.com/DarkEnergyScienceCollaboration/Monitor) project might be
of interest here as a worked example and a Level 3 pathfinder - this is a
joint effort between SN and SL, who both need good extracted light curves.
The idea is to write a common class that handles the IO and does basic
plotting, and then sub-class it into an `SNMonitor` and `SLMonitor`.  It'll
be al

[2016-02-02 19:05] tony-johnson commented on #2
HI, one thing to bear in mind is that for Twinkles we were not able to
directly use the central DMStack installation, because we needed some
patches. I suspect that in the short term we will often need patches to
released versions of the DM (and other) software, and the patches
required may vary from task to task. This to me is a potential use of
docker -- we can build software with appropriate pa

[2016-02-02 19:25] heather999 commented on #2
Is this docker? https://www.docker.com/
In the context of DM how are patches applied? Are these development versions of the underlying packages obtained from git that are then rebuilt? Or are patches applied to the code by hand?
The DM group seems to be moving towards this conda distribution, which reportedly will also offer development versions of the packages.  In principle, I think that means i

[2016-02-02 22:22] djbard commented on #2
Hello,
 NERSC is very careful about dotfiles, but we can have setup scripts in the
LSST project directory at NERSC, which users can source from their
bashrc.ext.
We can also try to set things up in a module - it's tidy because users can
just "module load lsst" or whatever (but it's a bit of a pain to set up).
We could then support "module load Twinkles" or similar, if people wanted a
specific set

[2016-02-02 22:33] richardxdubois commented on #2
Just curious - does NERSC need separate installs per machine (eg Edison vs Cori)?

[2016-02-02 22:35] djbard commented on #2
yes indeed, separate installs per machine. I would expect nearly all users
to be running on Cori though, since Cori Phase 1 is set up for
data-intensive science. Edison is really more suited for massively parallel
codes at the moment.

On Tue, Feb 2, 2016 at 2:33 PM, Richard Dubois <notifications@github.com>
wrote:

[2016-02-03 02:06] parejkoj commented on #6
Please check our recommendations-rewrite branch: we've reworded things in a way that may be helpful, referring to DM methods (but maybe not enough?).

[2016-02-03 02:07] parejkoj commented on #6
Sorry! I should say, our recommendations-rewrite branch of (private repo) https://github.com/DarkEnergyScienceCollaboration/ComputingModel

[2016-02-03 16:30] tony-johnson commented on #2
Out of interest, is it possible to build docker images which would work
on both?

Tony

On 02/02/2016 02:35 PM, djbard wrote:

[2016-02-03 16:36] tony-johnson commented on #2
On 02/02/2016 11:25 AM, heather999 wrote:

Yes, docker is a "lightweight virtualization" technology which allows
self-contained images to be built, which can be (mostly transparently)
on different machines. So the hope is that perhaps we can build docker
images containing software releases, and then run them on laptops or
supercomputers. I have very little experience with this, and do not
understa

[2016-02-03 16:46] jchiang87 commented on #2
For Twinkles, we needed to use development branches of two packages (it's now down to one).  That meant git cloning those packages, checking out the branch, then building, so one would generally need a source distribution for the Stack.  I used lsstsw to get a recent weekly build tag (a v11 distribution was too old).   Possibly out-of-date instructions are [here](https://github.com/DarkEnergyScien

[2016-02-03 16:48] djbard commented on #2
Yes, the same docker images can run on both systems since Shifter (http://www.nersc.gov/research-and-development/user-defined-images/) 'fixes' the image to run on the underlying Cray system, whichever that is.

[2016-02-03 23:29] jchiang87 commented on #1
I talked to Brian extensively yesterday about his experiences with the DM development workflow and whether he had any specific suggestions regarding our use of it for DESC.  Brian seemed to think the DM procedures (described [here](https://confluence.lsstcorp.org/display/LDMDG/git+development+guidelines+for+LSST) largely worked well and was happy with them.  One question for DESC is whether we wil

[2016-02-04 17:04] jchiang87 commented on #1
I put together a cookiecutter template repo based on the package organization we've been considering for the Twinkles work:
https://github.com/jchiang87/desc-package-template
@drphilmarshall Could you have a look and comment?  If it seems useful, I'll move it over to the DESC org.

[2016-02-04 23:34] brianv0 commented on #1
I think Jim's cookie cutter project is great. This will help new projects get up and running with same sane defaults and help encourage best practices for code. Bonus points for a sane .gitignore and some defaults so Travis-CI will build the project.

[2016-02-05 18:57] richardxdubois commented on #1
We should discuss the scope of the tutorial. We have 90' for the three - it could be the Docker one doesn't need a full 30'. Anyhow, I think Andy was suggesting we try to motivate why these best practices bring value and are not just dead weights. I can't imagine we'll have made many (if any) real decisions on standards, tools etc so this might have to be giving examples, perhaps drawn from the pr

[2016-02-05 20:08] brianv0 commented on #1
I think that showing a typical workflow in DM might be very useful so people can see the value you can get.

In practice, a very typical issue workflow is about 10 steps, and looks like this:
a. (Unit of work defined, either a feature, improvement, bug, etc...)
b. (Developer Clones/updates local repository)

1. Create a branch
2. Do work on that branch
3. Push the branch (CI may build branch, mayb

[2016-02-05 20:36] jchiang87 commented on #1
Thinking about this a bit last night, I came up with the following list of potential topics to describe and illustrate their benefits:
- coding conventions
- automated testing
- development workflows
- static code analysis tools
- refactoring

For automated testing, I'd discuss what good unit tests comprise (that cookiecutter template has a built-in example unit test that I was planning to use for

[2016-02-08 15:50] boutigny commented on #5
As a first step, I propose that we setup the environment to reprocess one of the CFHTLS Deep Field at NERSC. This is ~2700 images in 5 bands (u, g, r, i, z) - 36 CCD / image. The various steps are described in the Wiki of the DESC Reprocessing Task Force : https://github.com/DarkEnergyScienceCollaboration/ReprocessingTaskForce/wiki

We can instrument each processing step in order to measure the CP

[2016-02-08 16:48] richardxdubois commented on #1
One item I was wondering about is the underlying build tool - DM uses SCons, for example. What is Twinkles doing in this regard?

[2016-02-08 17:04] jchiang87 commented on #1
We aren't building anything yet really.  There is a nominal setup file that includes the `twinkles` module in the PYTHONPATH, but that's different of course.

[2016-02-08 18:45] djbard commented on #2
From the CI meeting today: What are the *aims* of this tutorial? I see there being two goals:
1) Get a NERSC account, submit your first batch job, know where to go for help
2) How to run an LSST job
I think we should skip part (2) in the time allowed - we certainly should figure out how to manage the DM software and LSST environment, but I think for the tutorial I should use the limited time to ex

[2016-02-08 19:39] djbard commented on #5
Hi Dominique: just to check, which version of the DM stack is needed? Is v11 OK? (I didn't see that specified on the wiki)
How do you plan to instrument the pipeline? I'm curious, since we run into this question pretty regularly.

[2016-02-08 20:32] heather999 commented on #2
Is it going to be possible to allow people to apply and receive their
NERSC accounts during the tutorial - so they can actively participate in
the other follow-on activities at that time?

Take care,
Heather

On 02/08/2016 03:20 PM, djbard wrote:

[2016-02-08 21:29] drphilmarshall commented on #2
Hi Debbie - to help with the first part of your program, I made a new
confluence page in the Getting Started area, just reproducing what the CI
group has in their "NERSC usage tips" page:

https://confluence.slac.stanford.edu/display/LSSTDESC/Getting+a+NERSC+Computing+Account

I guess you'll want to edit that before you use it in your tutorial.

The example I gave, of drawing 100k samples from a P

[2016-02-08 21:30] djbard commented on #2
It would not be practical for people to get their accounts *during* the
tutorial - it takes a little while for the repo PIs to add members, for the
NERSC Accounts group to create the actual compute accounts and for the
information to be propagated through the various DBs. In a best case
scenario it would take longer than the length of the tutorial. Richard
mentioned emailing the DESC membership at

[2016-02-08 22:03] heather999 commented on #2
Hi Debbie,
Yes, I fully agree :)
As I recently went through this exercise, may I offer to update the
Confluence page with some more details about applying for an account?

Take care,
Heather

On 02/08/2016 04:57 PM, djbard wrote:

[2016-02-08 22:20] djbard commented on #2
Please do, Heather! That would be great. Thanks!

On Mon, Feb 8, 2016 at 2:18 PM, heather999 <notifications@github.com> wrote:

[2016-02-09 17:19] drphilmarshall opened #9 "Assemble tutorial plan, get some feedback"
Two thoughts:

1. The March 2016 meeting tutorials will need a tiny bit of introduction from a session chair, to explain in a few sentences why we are doing them.  The CI1 and CI2 tutorials are not until the next day, so they can refer to the tutorials, but not introduce them. The tiny introductions in the tutorial session can help set the tone correctly, by presenting them as professional develop

[2016-02-09 18:07] richardxdubois commented on #9
I think the tutorial confluence pages would be better off under CI rather than "hidden away" under a collaboration meeting. So for the session page, I'd suggest a short description of each tutorial with links to each individual page (under CI). Then these can be a resource that lives on. So, as you can, @djbard can you fill in descriptions for 1 & 3 and @jchiang87 can you do same for 2 please?

[2016-02-10 11:36] boutigny commented on #5
v11 is probably not enough, I think that it is better to star form the master branch.
As for the "instrumentation", up to now I have just used the information returned by the batch system (GE): Elapse time, cpu time, I/O. But I am sure that we can do more sophisticated things.

[2016-02-10 16:25] salmanhabib commented on #5
I have a question about this -- next-gen systems will have flops to comm
ratio that's roughly TFlops to O(10)GB/s per node, so it's guaranteed at
the node level that one will be I/O, or more generally, communication
bound (as has been true for many years already), unless there's a heavy
amount of compute. (BTW, that's also an issue for all HPC codes.) This
will be an unavoidable first-level constr

[2016-02-10 16:45] boutigny commented on #5
It depends... it may be a problem if you have a few thousand cores stuck for hours just waiting for I/O. But I agree that if the I/Os are tune in the best possible way, then the only important thing is the wall clock time.

I also don't think that the answer can be "that's DM problem, not ours...", by experience, it is always a constant trade between the experiment and the computing centers to ada

[2016-02-10 21:52] salmanhabib commented on #5
I don't think with current I/O rates we will ever see the first
situation. We routinely move tons of data at rates of several hundred
GB/s on HPC systems across more than several 100K cores.  As to the
second point, I assume there will be people tasked at NERSC and other
places to help with this but DM needs to write performant code in the
first place (I am sure they understand this).

On 2/10/16

[2016-02-11 15:37] heather999 commented on #2
Ok - I took a swing at it.  I ended up modifying the page:
https://confluence.slac.stanford.edu/display/LSSTDESC/Getting+a+NERSC+Computing+Account
and updated it so that its content could be included directly in the page:
https://confluence.slac.stanford.edu/display/LSSTDESC/NERSC+usage+tips
That way the content will remain synchronized.

Will the tutorial live in Confluence? It'll probably become

[2016-02-12 17:39] richardxdubois commented on #1
I spaced on Jim's question earlier about access to JIRA. I would have to check that SLAC would not limit licences, but otherwise we'd have access to SLAC's JIRA instance. Another wrinkle is being discussed in another [issue about using ZenHub](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/82). @drphilmarshall is pushing that one.

[2016-02-12 17:44] richardxdubois commented on #1
Given time limitations, @djbard and @jchiang87 have asked that we restrict to 2 tutorials and drop the Docker one. So, we'll do that. They'll have 45' each now.

[2016-02-12 18:06] richardxdubois commented on #1
@jchiang87 points out there has been no feedback on the topics list. I think his list is pretty complete. I had asked about actual build tools (eg SCons), but I think we're not there yet. My question is how to pitch the tutorial, and at what level it will be participatory. In the CI meeting, I think we talked about an overview of how DM handles these things, and that most of the audience will be a

[2016-02-12 20:32] jchiang87 commented on #1
Regarding build tools, I have been looking into a cookiecutter project for packages that build C++ code against the Stack, just at the level of using afw.   That would involve discussion of things like SCons, swig, and eups.   Right now, I foresee most of the emphasis being on automated testing, development workflows, and to a lesser extent, development tools.

[2016-02-17 16:37] jchiang87 commented on #1
[Here's](https://github.com/jchiang87/stack-build-template) the cookiecutter project for building C++ code against the Stack.

[2016-02-22 22:58] heather999 commented on #2
Are there plans to have a shared python installation for LSST outside the Anaconda that could be installed with DM?
It popped back into my head after seeing this week's NERSC weekly mail:
** Changes to Python User Site-Packages Directories, 3/3/2016 **

Also, I tried:
source /project/projectdirs/lsst/lsstDM/Cori/11.0/loadLSST.bash
setup: Unable to take shared lock on /project/projectdirs/lsst/lsst

[2016-02-23 00:33] djbard commented on #2
wow, that's annoying. I've no idea where that lock came from, it dates from December! I've removed it now. Might this be an issue in the future, if we have multiple users trying to access the same installation? I haven't seen this before, but most LSST users use their own installation of the Stack.
 I am all in favour of removing this particular installation, and doing something properly, based on

[2016-02-24 18:24] drphilmarshall commented on #9
@djbard @jchiang87 I updated the confluence page for the SLAC 2015 CI tutorials, with my best understanding of what is going to happen. Would you mind please updating it? If you have links to the repos or other websites that you will be using, it would be great to add them.

https://confluence.slac.stanford.edu/display/LSSTDESC/SLAC+2016+-+Computing+Tutorials

We should link this to the meeting ag

[2016-02-26 16:16] heather999 commented on #2
Yes - very annoying! You're right, most people use their own Stack, so it's not usually an issue.  My understanding is that this boils down to a problem with locks in eups. So when one does an install, they do:
eups distrib install --nolocks -t v11_0 lsst_apps
as described in this presentation:
https://confluence.slac.stanford.edu/download/attachments/132230065/DM-Tutorial-EUPS.pdf?version=1&modif

[2016-02-28 22:35] richardxdubois opened #10 "Discuss strategy for managing CPU allocation at NERSC"
We will be asking for significant CPU resources at NERSC. How will we manage that? Currently it seems the tools are to create special accounts and to restrict overall usage via the per-user fraction-of-allocation setting from the PI interface.

[2016-02-28 22:37] richardxdubois opened #11 "Discuss strategy for managing repo storage at NERSC"
We currently have no mechanism to track or control storage usage.

[2016-03-01 16:39] richardxdubois commented on #4
Invitation sent out 2016-02-29.

[2016-03-01 16:39] #4 closed

[2016-03-02 01:50] drphilmarshall commented on #9
Alright, @jchiang87 - I saw your confluence page at https://confluence.slac.stanford.edu/display/LSSTDESC/Developing+DESC+Software and made some additions, feel free to re-edit. I've put a link to it in the agenda for the [CI2 meeting tomorrow](https://github.com/DarkEnergyScienceCollaboration/ComputingModel/issues/154) as well, so we can get some feedback from them.

Should we add a link to the `

[2016-03-02 01:59] jchiang87 commented on #9
Thanks @drphilmarshall! I saw your edits.  I'll keep adding content over the next few days, especially after feedback from tomorrow's practice session.   I'll make a `Primes_rehearsal` repo for tomorrow's session, and then for the actual event, we can post the link to the production version on the tutorial page just before the session so people can play along.

[2016-03-02 02:17] drphilmarshall commented on #9
Cool! Shoudl be fun :-)

On Tue, Mar 1, 2016 at 5:59 PM, James Chiang <notifications@github.com>
wrote:

[2016-03-03 00:35] jchiang87 commented on #9
@brianv0 Could you have a look at this page https://confluence.slac.stanford.edu/display/LSSTDESC/Developing+DESC+Software ?  If you have any suggestions or corrections, they would be most welcome.  Thanks!

[2016-03-07 18:01] djbard commented on #9
Attached are slides for the NERSC intro. Happy to hear feedback and requests for clarification. I'll put a full set (of >90 slides) on the confluence site as well.
[NERSC-intro-short.pdf](https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/files/161825/NERSC-intro-short.pdf)

[2016-03-07 18:40] jchiang87 commented on #9
Here are my slides
[CollabCoding_tutorial.pdf](https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/files/161873/CollabCoding_tutorial.pdf)

Comments welcome!

[2016-03-08 21:56] drphilmarshall opened #12 "Getting Started with DM"
I'm in the Tuesday WL/DM lunch at the SLAC 2016 collaboration meeting, with @wadawson @SimonKrughoff @TallJimbo @RobertLuptonTheGood @wmwv and others, and it seems that there is a need for some CI collaboration support, in the form of a "Getting Started with DM" page. This could (I think) be mostly annotated links, to things like:
- The latest documentation on getting set up (with recommendations

[2016-03-08 23:08] jonathansick commented on #12
On [community.lsst.org](https://community.lsst.org) we should recommend that software support questions happen in the [Support category](https://community.lsst.org/c/qa). (It allows answers to be identified). In the near-term we'll also be launching an 'Ask LSST' category for the science collaborations to get official answers vetted from the Project Science Team and other project groups on questio

[2016-03-08 23:30] wadawson commented on #12
@drphilmarshall asked me to upload the materials I presented during the lunch discussion.

Here are the slides I presented:
[RunningDMonGalSim.pdf](https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/files/164147/RunningDMonGalSim.pdf)

Here is the python script used to analyze the GalSim grid of blended pairs of galaxies:
https://gist.github.com/wadawson/043f6a9d17aea661157c

[2016-03-10 00:06] heather999 opened #13 "Test case for migrating doc from Confluence to reStructuredText"
@jchiang87 has requested that this Confluence page:
https://confluence.slac.stanford.edu/display/LSSTDESC/Developing+DESC+Software
be converted to Markdown and stored in this git repository.  This is a good opportunity to tune into the doc infrastructure changes implemented for DM as reported by @jonathansick. See: https://community.lsst.org/t/dm-state-of-the-docs-jtm-2016-02-24/551
Further detail

[2016-03-10 02:01] jchiang87 commented on #13
@heather999 Sounds good to me!  Let's make a `doc` folder and put the .rst document there for now.

[2016-03-10 14:21] drphilmarshall commented on #13
Thanks Heather! One reason for using Markdown is that GitHub renders it
well on its repo's pages. I'm interested to see what it does with `.rst`!
I'd suggest putting up a minimal skeleton page in the place Jim suggests,
and then share it early via a pull request.

Thanks ever so much for taking this on! It's great to have you here :-)

On Wed, Mar 9, 2016 at 6:01 PM, James Chiang <notifications@gi

[2016-03-10 17:40] richardxdubois commented on #9
Tutorials done.

[2016-03-10 17:40] #9 closed

[2016-03-10 17:41] richardxdubois commented on #3
Abandoned this time around.

[2016-03-10 17:41] #3 closed

[2016-03-10 17:42] richardxdubois commented on #1
Tutorial done.

[2016-03-12 19:17] connolly opened #14 "Web interface to DESC repositories"
@richardxdubois @drphilmarshall @dodelson The interface to DESC repositories is running at

http://darkenergysciencecollaboration.github.io/

I cleaned up the organization to be WG and not team based and removed some of the repos that were just places to collect issues. There are a number of things that need fixing or enhancing (we can issue the changes individually once we agree on them)
- [ ] Th

[2016-03-16 00:36] drphilmarshall commented on #14
This is pretty sweet, Andy - thank you for setting it up! I agree the color scheme needs to be propagated, and private repos need to be visible if you're logged in. However, if we make it clear which squares refer to *teams* and which refer to *repos* we may not need the colors at all (which would solve the labeling problem!).

* [ ] Can we add graphics to the squares? It'd be good to make it clea

[2016-03-23 04:58] heather999 commented on #13
Thanks, Phil!  I finally got somewhere with this... see my recent pull request... yea!
and I greatly appreciate the very kind welcome, thank you.

[2016-03-23 15:51] tony-johnson commented on #13
Although confluence is far from perfect, one advantage it could give us is that if all out documentation was in one place it could be searched and (with work) indexed.  One concern I have is that if we spread our documentation between github, confluence, google docs, community etc, it will be very hard to search for things. I notice even if I go to the search bar in github and search for terms in

[2016-03-23 16:29] jonathansick commented on #13
Data management is keenly aware of the documentation discovery problem for our own work. Over this year we intend to work on a documentation index service that integrates with the places where documentation lives (JIRA, GitHub, Confluence, Community, reStructuredText sites). DESC should be able to build upon this service for its own documentation space. Our intention is to allow developers to use

[2016-03-23 17:20] heather999 commented on #13
I do wonder about our proliferation of communication tools @tony-johnson. I have no answer for that, but I am happy to hear DM is thinking about this.  I do like the idea of the documentation living with the code in GitHub. Whatever we use, some time should be spent pondering a sensible directory structure. We have the problem in Confluence where it seems pages are scattered and difficult to locat

[2016-03-23 17:40] tony-johnson commented on #13
@jonathansick I would certainly appreciate a pointer to the DM technical note when it exists.

[2016-03-23 22:39] jonathansick commented on #13
Here is a technote and slide deck describing DM's approach to communication (both internally, and to the project and science collaborations): https://community.lsst.org/t/technote-sqr-011-dm-communication-platforms/616?u=jsick

Related to search and discovery, see this [section](http://sqr-011.lsst.io/en/tickets-dm-5585/#making-information-accessible-outside-data-management) on how we are using [c

[2016-03-24 16:36] heather999 commented on #13
Thanks @jonathansick after the tech note, I dove into the http://sqr-011.lsst.io/en/latest/ plenty to digest there.
Somewhat related.. I see the planned move to Slack - when will that happen? I've heard good things about it, never used it :) How does one find the "DM" Slack team? or does it require an invitation?

[2016-03-24 16:44] jonathansick commented on #13
Our [Slack RFC](https://jira.lsstcorp.org/browse/RFC-140) gained another level of approval in a meeting yesterday, though there is one final sign-off necessary (sorry, our RFC process is not usually this difficult). The idea is that by moving to Slack, we can have DM/the Project and all Science Collaborations under one roof so that we can collaborate more easily. Once Slack is implemented it'll be

[2016-03-24 17:10] heather999 commented on #13
Yes, @richardxdubois and I have discussed the possibility of using community.lsst.org briefly - I think he's hoping to spark a discussion at an upcoming ComputingInfrastructure meeting.  Would you have any slides or online discussions available to help provide some motivation for those unfamiliar with community.lsst.org (maybe your slides from Aug's All Hands meeting)? I can imagine we could certa

[2016-04-04 21:46] awborgland commented on #13
@heather999  It's not directly useful for us, but I just noticed that you now can post JIRA updates to Slack, see https://get.slack.help/hc/en-us/articles/218475657

[2016-04-05 18:12] drphilmarshall opened #16 "Using GitHub"
I started [a page tracking DESC's use of GitHub, and problems arising from it](https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/blob/master/doc/UsingGitHub.md). Feel free to add to it! We can use this to provide feedback to GitHub at some point: they are keen to support groups like us, and employ someone whose job it is to try and make GitHub work well for scientists. At s

[2016-04-05 18:26] drphilmarshall commented on #16
Issue FAO the communications team: @cwwalter @richardxdubois @dkirkby @wmwv @tony-johnson @rachelbean

[2016-04-05 18:48] dkirkby commented on #16
On the topic of jupyter notebooks in github, the current situation is far from ideal because visually small changes to the notebook can result in large, undecipherable git diffs.  A good practice is to always restart your kernel and re-run all cells before each commit, which helps minimize diffs.  It would be great if the jupyter and github teams could collaborate on improving this workflow!

[2016-04-05 19:05] cwwalter commented on #16
Yes, I agree.  After they made rendering available I wrote them (and Arfon I think) and asked them to consider implementing visual diffs to the rendered output.

[2016-04-22 22:29] drphilmarshall opened #17 "SUITing up DESC"
@richardxdubois I hear the SUI group at IPAC are interested in helping us become SUIT superusers. That sounds good! Should we set up a meeting, and see how we can get something going? What did you have in mind for starters?

[2016-04-22 22:40] drphilmarshall opened #18 "What has Twinkles ever done for us?"
Possible CI meeting topic, arising from discussion with @richardxdubois . Short talks from various people on infrastructure work done for Twinkles. Good idea?

[2016-04-22 22:50] drphilmarshall opened #19 "Twinkles Run 2 as a NERSC stress test?"
Hey @jchiang87 how do the data volumes compare between Twinkles Run 2 (due to be done [in May at NERSC](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/85)) and the CFHTLS reprocessing task? Could we kill two birds with one stone? Run 2 is happening anyway...

[2016-04-24 16:31] richardxdubois commented on #18
Indeedy. We'd talked about how to spread the lessons learned from Twinkles to the WGs. It seemed like a summary at a CI meeting, with WG members alerted, and then visit WG meetings afterwards would be a good idea. We can target the upcoming May 2 CI meeting for this.

Topics to cover can be:

- repo organization and setup, including cookiecutter

- Travis CI use

- common software installs at NERS

[2016-04-24 17:43] drphilmarshall commented on #18
I can give a very quick demo of how we are attempting to use the
GitHub/ZenHub project management tools

On Sun, Apr 24, 2016 at 12:31 PM, Richard Dubois <notifications@github.com>
wrote:

[2016-04-25 02:15] richardxdubois commented on #17
Right - Gregory and David's talk to SSim this past Thursday brought to mind the opportunity to use Twinkles as a pathfinder for SUIT. We could hook up with Gregory/IPAC and describe what Twinkles is and also pserv/qserv directions. And see where it goes.

[2016-06-13 18:19] jchiang87 opened #20 "Spin-off the DM Level 2 workflow engine code in Twinkles into a separate package"
@tony-johnson The workflow described at the [ReprocessingTaskForce wiki](https://github.com/DarkEnergyScienceCollaboration/ReprocessingTaskForce/wiki/Image-processing-guidelines) is very similar to the "Level 2" workflow described in the [Twinkles cookbook](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/doc/Cookbook/DM_Level2_Recipe.md).  We should spin off the workflow eng

[2016-06-15 19:17] drphilmarshall commented on #20
I guess the pipeline code would live in a repo called "DMLevel2" or something? And then we'd need it to be able to be run by either the workflow engine, or by hand (in order to support the Reprocessing Group well). @boutigny what do you think about this notion, of having only one emulation of the DM Level 2 pipeline, that both Twinkles and Reprocessing uses? Any high level thoughts before we start

[2016-06-15 19:47] jchiang87 commented on #20
I think we'd like to make it such that this new workflow engine-oriented package could run pipelines other than just the versions of Level 2 used by Twinkles or the Reprocessing Task Force.

[2016-06-17 09:25] boutigny commented on #20
Having one emulation of the DM Level 2 pipeline that can be used for Twinkles, the Reprocessing task force or any similar applications is a good thing as long as it provides all the necessary flexibility to accept any configuration parameters (I guess that this is straightforward) and is able to run on any reasonable computing facility.

[2016-06-29 15:07] tony-johnson commented on #20
@johannct may be interested in helping with this, as well as with getting the workflow able to run at IN2P3.

[2016-07-20 13:57] richardxdubois opened #22 "Pursue SLACK for DESC"
Three steps discussed with @connolly and @tony-johnson  - 1) contact Frossie re DM's use of 503C to set up free SLACK (RXD - mail sent). 2) contact LSSTC re use of 503C - Andy; 3) look at how to populate a DESC community from our contacts database.

[2016-07-20 13:59] richardxdubois opened #23 "Scope out Publications Board infrastructure"
The Pub Board will need some infrastructure for tracking papers, approval workflow and contributions database. We'll need to see if anything is out there that we can steal before reinventing this wheel. Talk to @egawiser to get the ball rolling.

[2016-07-20 14:15] richardxdubois commented on #23
@sethdigel has agreed to help spec out this system. Of course, we'll need to engage @tony-johnson and probably @chee999.

[2016-07-21 05:44] drphilmarshall opened #24 ""DESC Notes" template, guidelines, use cases"
In https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/284 we're talking about writing up our results as short "DESC Notes" so that Chris W can cite them in his DC1 requirements doc. This could be a pathfinder for the "research notes" that the proposed Publication Policy refers to. To make a start, how about we put together a sensible little template and workflow, perhaps with some "

[2016-07-21 07:59] richardxdubois commented on #23
@egawiser, @rachelbean : in terms of requirements gathering - will we need support for a Speakers Bureau also?

[2016-07-21 10:20] heather999 commented on #24
Hi @drphilmarshall, yes that sounds possible!
I found the [proposed publication policy](https://confluence.slac.stanford.edu/display/LSSTDESC/Publications+Commsittee) and am reading over the DESC notes portion.
I've heard some bleeps about using a "document manager", such as [DOCdb](http://www.docdb.net/about.php) This is the type of thing we won't come to a decision on immediately - but I'd like

[2016-07-21 10:43] tony-johnson commented on #24
Let me raise an issue which I have mentioned in the past, but which I think is important, namely searchability. My concern in particular is that if we use many different systems for storing DESC meeting minutes, documentation, issues, publications, internal notes, chats, etc, then the possibility of ever implementing a uniform search mechanism becomes very remote. I would rather see us using fewer

[2016-07-21 10:51] heather999 commented on #24
That is the ultimate purpose of LSST the Docs, as I understand it - to provide that searchability and serve as one stop shopping for content.  What I remain unclear on, is how ready it is to serve this purpose at the present time.  I will inquire.  We did just receive a Twinkles PR [283](https://github.com/DarkEnergyScienceCollaboration/Twinkles/pull/283) where @jonathansick has helped us get set

[2016-07-21 16:00] jonathansick commented on #24
First off, I think DESC Notes are a great idea. There's certainly a huge need for communicating results in a manner that's faster and more flexible than arXiv/journals, more organized than emails, and doesn't fit into the paradigm of software documentation either. I introduced [DM Technotes](https://sqr-000.lsst.io) for much the same reasons as you've identified. Of course, DESC is free to enginee

[2016-07-21 21:39] heather999 commented on #24
@jonathansick I was meaning to ask you if your talk at the LSST Project and Community Workshop would be one of the talks broadcast for remote participants?

[2016-07-21 22:52] jonathansick commented on #24
I think I'll be giving a 15 minute talk as part of a Wednesday plenary on DM products for the community. I'm not sure what the plans will be for recording talks, but I'd be happy to find a way to make sure it's broadcast. I'd also be happy to talk in person and hack on doc projects with anyone at LSST2016.

[2016-07-21 23:52] drphilmarshall commented on #24
Thanks Jonathan - a great deal of this functionality is very interesting to
us indeed, I think! To follow up on Tony's concern, one feature the DESC
Research Notes will need to have is that only a fraction of them will be
able to be made public - for scientific reasons some (or perhaps many) will
need to be kept private until the parent journal paper is published.
Meanwhile, we will still need to

[2016-07-22 00:12] sethdigel commented on #24
I'm interested to understand better how LaTeX Research Notes could be handled.  In the example above for LDM-151, I see that the landing page (if that is the term) is the [index.html](https://github.com/lsst/LDM-151/blob/draft/deployment/index.html) file in the repository for LDM-151.  What generates that file?

[2016-07-22 00:51] jonathansick commented on #24
For LDM-151, I simply made an HTML page by hand: https://github.com/lsst/LDM-151/blob/draft/deployment/index.html. The Travis CI script (https://github.com/lsst/LDM-151/blob/draft/.travis.yml#L14) copies the built PDFs into the `deployment` directory where the cloned index.html resides and `ltd-mason-travis` ships those files up to LSST the Docs. A next step might be to render the HTML with someth

[2016-07-22 05:41] sethdigel commented on #24
Thanks for the explanation, @jonathansick.  Those possibilities sound very good.

[2016-07-22 10:08] heather999 opened #25 "Create LSST DESC Note template"
First goal for Hack Day!
Create a template MD file that will represent a standardized LSST DESC Note.  The content may contain our first stab at general guidelines.

[2016-07-22 10:09] heather999 opened #26 "Demonstrate using Travis-ci to generate PDF from Markdown"

[2016-07-22 10:13] heather999 opened #27 "Limitation on number of private GitHub repositories for DESC?"
@richardxdubois During Hack Day we discussed the use of private GitHub repositories.  We were asked by @nregnault, if there is a limit on the number of private repositories available for DESC?  A general idea would do.. 100s?

[2016-07-22 10:14] nregnault opened #28 "Script to start notes"
Hi @heather999,

this is what we want to do:

[code]

Would you be able to work on this please ? Thank you ! :-)

[2016-07-22 10:19] heather999 commented on #28
Certainly, @nregnault!
Just to confirm, (also tagging @drphilmarshall), _snia_ signifies the filename you would like associated with this new LSST DESC Note?

[2016-07-22 13:17] heather999 commented on #25
If you have a moment @drphilmarshall, please see the new LSST_DESC_Notes directory under doc. I'm a little faster using rST, so I started there.  I can create another template in markdown as well.  Also take a peek at rough guidelines under the _guidelines_ subdirectory and edit at will!
As Hack Day is passing quickly, I'm going to try to set up Travis and see if I can manage to make a PDF out of

[2016-07-22 13:45] heather999 commented on #26
I need some help from the owner of this repository @richardxdubois or perhaps @drphilmarshall can be of assistance?  I do not have permissions to create the gh-pages branch or to turn on Travis-ci.  Can one of you do that?  I am happy to hunt you down so we can do that together if necessary!

[2016-07-22 14:07] jonathansick commented on #24
@drphilmarshall 🤔 I'll have to think about the embargo and auth use case. Private docs aren't in our roadmap for either LTD or DocHub. Not to say it can't be done, though. You could have a private DESC LTD server and instead of S3+fastly, service documents from a basic web server with your own auth service.

Unfortunately we don't have a great project-wide authentication & authorization service ye

[2016-07-23 05:48] drphilmarshall commented on #25
This is a great start, thanks Heather! I will iterate on the template when
I am back from vacation (week of August 1) - good idea to switch focus to
the processing-type issues in the meantime.

BTW Watchers: pull requests on the design and content of the guidelines =
template are most welcome!

[2016-07-24 18:54] brianv0 commented on #27
There's no limitation to private repos anymore on GitHub (this changed a few months ago). Everyone in DESC should also apply for the education discount, which upgrades their personal account:

https://education.github.com/discount_requests/new

In general, it's still probably a good idea to encourage using public repositories whenever possible. This will make it much easier to collaborate and sear

[2016-07-28 15:26] heather999 commented on #27
Thanks, @brianv0.  Tagging @drphilmarshall so he'll more likely see the response!

[2016-08-01 19:00] drphilmarshall commented on #28
Yes: we'd use 'snia' as the name of the sub-folder to contain the Note and
its figures etc, and the Note itself would be in `main.md`.

On Fri, Jul 22, 2016 at 3:19 AM, Heather Kelly <notifications@github.com>
wrote:

[2016-08-01 19:13] drphilmarshall commented on #24
I thought a little more about this. I think it *might* be OK to produce a
web-visible listing of DESC Notes that includes titles and authors of all
Notes, no matter whether they are visible or not, and just not provide the
links to the private Note files - but that'll be a question for our pub
board. For now we can use GitHub (via zenodo) to get a doi for each release
of a repo - we could tag the

[2016-08-01 23:53] drphilmarshall commented on #27
Thanks Heather :-) It'll be interesting to see whether DESC members
continue to prefer public repos as time goes on - at the moment most DESC
projects are being carried out in the open.

On Thu, Jul 28, 2016 at 8:26 AM, Heather Kelly <notifications@github.com>
wrote:

[2016-08-02 23:40] #27 closed

[2016-08-03 00:10] drphilmarshall commented on #28
Just catching up on the LSST technotes documentation - looks like they initialize their notes using `cookiecutter`: https://github.com/lsst-sqre/lsst-technote-bootstrap  As @jonathansick pointed out in #24 we could think of the DESC notes being just another series, analogous to the DM notes - but I want to understand the one repo per note approach first. So, I tried starting a DM technote to see w

[2016-08-03 00:53] jonathansick commented on #28
I just fixed the issue (my bad! didn't fully test a recent change to the cookiecutter template)

[2016-08-03 01:21] drphilmarshall commented on #25
I did some iteration, PR to follow. In the meantime, I found this useful-looking to-do list. We should issue parts of this if we have not done so already!

======

* `Create setup script #28
* Iterate on the guidelines
* Further test the suitability of Pandoc for conversion into PDF, and take another look at Sphinx
* Enable travis-ci to automate creation of PDF and population of [GitHub-pages] (ht

[2016-08-03 05:52] drphilmarshall commented on #28
Thanks Jonathan!

So, the following command does most all of what we want:
[code]

Here's the output I get when I run it:

remote: Counting objects: 124, done.
remote: Total 124 (delta 0), reused 0 (delta 0), pack-reused 124
Receiving objects: 100% (124/124), 32.17 KiB | 0 bytes/s, done.
Resolving deltas: 100% (66/66), done.
Checking connectivity... done.
first_author [First Last]: Phil Marshall
S

[2016-08-03 19:48] jonathansick commented on #28
@drphilmarshall Yeah, I've been thinking about having the title go in `index.rst` rather than the metadata file. This touches a larger discussion I'm having about how DM should handle metadata for its repos. I've been talking to folks like @arfon and @augustfly and I'm now convinced I want to migrate DM from our ad-hoc metadata.yaml to JSON-LD (e.g. http://www.arfon.org/json-ld-for-software-discov

[2016-08-04 16:38] drphilmarshall commented on #28
I see, thanks Jonathan. I notice that math also does not render on GitHub,
either in reST or MD, which is a shame. They don't seem to be about to fix
that any time soon though. You saw Seth asking about writing Notes in
latex; we had also wondered about supporting Notes written as ipython
notebooks (which do support math, on GitHub). Interested to hear whether
you have thought about this channel.

[2016-08-04 17:14] jonathansick commented on #28
latex; we had also wondered about supporting Notes written as ipython
notebooks (which do support math, on GitHub). Interested to hear whether
you have thought about this channel.

I think notebooks are totally the way forward for compute-oriented documentation. I've got some ideas about integrating notebooks with Sphinx for publishing and continuous integration system for validation, but haven't

[2016-08-04 17:16] jonathansick commented on #28
Also, we should make sure to talk and hack during the Project & Community Workshop in a couple weeks in Tucson (assuming you'll be there).

[2016-08-04 17:40] drphilmarshall commented on #28
Yes! That's a good idea. Heather, will you be in Tucson as well?

Great to hear about notebooks! I didn't know about `nbconvert`. It may well
be that some of our Twinkles notes are best presented as ipynb notebooks,
so I'll port our template there and offer them the option, so we have some
examples to test with. Thanks!

On Thu, Aug 4, 2016 at 10:16 AM, Jonathan Sick <notifications@github.com>
wro

[2016-08-04 17:58] drphilmarshall commented on #25
OK, I think the template rst file in PR #29 is a good enough start. This issue will be closed when that PR is merged.

[2016-08-04 18:01] drphilmarshall opened #30 "Port reST template to a jupyter notebook"
This action will break one of the rules of Extreme Programming, because we will then have two copies of the same code, one in rst and the other in ipython. However, we need to get the Twinkles team started! So I'll hack this in now, ad we can discuss the best "master format" for the LSST DESC Notes template and guidelines as we go.

[2016-08-04 18:19] #25 closed

[2016-08-04 18:19] #30 closed

[2016-08-04 18:53] drphilmarshall commented on #24
Some discussion aggregation for posterity:

* Interesting discussion at https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/284#issuecomment-237639163 about the scale of LSST DESC Notes - many small notes are good for accurately showing contributions, but single large notes may be more convenient for the reader.

* It sounds like Notes in Jupyter notebook format [will be able to be s

[2016-08-04 18:57] heather999 commented on #28
Sadly,I won't be in Tuscon, @drphilmarshall .  I would be very happy to participate remotely in some of the discussion, if possible. At the very least, I'm hoping to take advantage of any opportunities to listen into the talks, particularly the one @jonathansick will present.

[2016-08-09 22:12] drphilmarshall commented on #28
Ahh OK no worries - I think the PDF agenda will be updated with blue jeans
details soon. You might ping the organizers at LSSTC if they haven't done
that yet.

We could also think about jumping on skype if I can find some quality time
with Jonathan.

On Thursday, August 4, 2016, Heather Kelly <notifications@github.com> wrote:

[2016-08-10 16:18] jonathansick commented on #28
Absolutely. I've got a fairly open schedule during the meeting so I can prioritize talking to you folks. There's a lot going on with DESC documentation so it'll be useful to have some real-time conversations and hacking to help me understanding how I can help you.

[2016-08-11 14:36] heather999 commented on #28
Ah yes, the remote connection information is online:
https://project.lsst.org/meetings/lsst2016/content/remote-connections

I would be very happy to connect via Skype or whatever else works! Looking through the agenda I see the hack sessions on Mon, Tues, Wed as well as the Wednesday DM in-depth that includes Jonathan's talk at ~12:15 pm.  I'm already thinking to lurk about for the Hack Sessions v

[2016-08-15 07:25] drphilmarshall commented on #24
@tony-johnson and I started jotting down some use cases for LSST DESC Notes, to help us have a good discussion with @jonathansick this week in Tucson. Feel free to add your own [here](https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/blob/master/doc/LSST_DESC_Notes/use_cases.md).

[2016-08-15 23:02] drphilmarshall commented on #24
Now in Tucson, I ran into @jonathansick just now and told him we were distilling our thoughts into a list of [LSST DESC Note use cases](https://github.com/DarkEnergyScienceCollaboration/ComputingInfrastructure/blob/master/doc/LSST_DESC_Notes/use_cases.md), and would love to sit down with him sometime this week to discuss them. @heather999 @sethdigel watch this space: I'll find a good time to meet

[2016-08-15 23:06] heather999 commented on #24
Thanks @drphilmarshall, it would be great to join via BJs.  Keeping my eyes on this issue :)

[2016-08-16 00:18] jonathansick commented on #24
Hey @heather999 would 8 am PDT Tuesday (tomorrow) work for you on [blue jeans]( https://bluejeans.com/513427879/)?

[2016-08-16 00:55] heather999 commented on #24
@jonathansick, 8 AM PDT tomorrow would work out just fine - thanks for the advance notice! :)

[2016-08-16 02:52] drphilmarshall commented on #24
Great! Jonathan, lets meet for breakfast at 7:45am and find a quiet spot to
chat with Heather.

On Mon, Aug 15, 2016 at 5:55 PM, Heather Kelly <notifications@github.com>
wrote:

[2016-08-16 04:32] sethdigel commented on #24
Thanks for the opportunity to join you remotely.   I could make Tuesday 8 am Pacific but any other day this week would be better.

Seth

-------- Original message --------
From: Heather Kelly <notifications@github.com>
Date: 8/15/16 4:06 PM (GMT-08:00)
To: DarkEnergyScienceCollaboration/ComputingInfrastructure <ComputingInfrastructure@noreply.github.com>
Cc: Seth Digel <digel@stanford.edu>, Mentio

[2016-08-16 14:59] heather999 commented on #24
umm.. hmm.. so do we reschedule or are we going for it?
actually do we have a BJ number?

[2016-08-16 15:00] sethdigel commented on #24
I'm wondering the same thing.

[2016-08-16 15:04] jonathansick commented on #24
Hi @heather999 and @sethdigel the URL is https://bluejeans.com/513427879/

[2016-08-16 18:32] drphilmarshall commented on #24
Thanks for meeting with us this morning, @jonathansick! I am sure we will
have more questions as we go along with our experiments, but it was great
to be able to sit down and chat for an hour.

Your plans to enable LSST-wide elastic search of all project and science
collaboration documentation makes me think we should be working on our
metadata from the beginning. Presumably if you switch to json

[2016-08-26 01:36] drphilmarshall opened #32 "LaTeX DESC Note template"
With: style file, Makefile, image header, bibstyle. Put it all in the CI folder, deal with cookiecutter later.

[2016-08-26 20:49] connolly commented on #22
We have the LSSTC approval and the non-profit status for Slack (assuming a team of <500 people). Lets put down the next steps for deploying Slack

- [ ] @tony-johnson Specify on how we will manage the user names (@frossie wanted us to use github usernames) and how will we populate the initial invites (we need to do this for all of the SCs and project in one go)
- [ ] @brianv0  Define the teams we

[2016-08-26 23:27] brianv0 commented on #22
@connolly Do we still want to see what kind of an arrangement for further discount with Slack through some marketing means? Or should we just focus on moving ahead and getting launched first?

[2016-08-26 23:33] brianv0 commented on #22
Also @connolly you are going to want to enable IRC and XMPP gateways (with SSL only)

[2016-08-27 00:35] drphilmarshall commented on #22
I *strongly* support using the same username in both GitHub and Slack, but
isn't this up to the individual user? I mean, don't we all have to (get
to!) sign up as individuals? But other than this concern, I think it would
help people communicate with each other on GitHub if they recognize the
same username that they saw on Slack, and vice versa.

On Fri, Aug 26, 2016 at 4:33 PM, Brian Van Klaveren

[2016-08-27 01:09] brianv0 commented on #22
DM people should use their GitHub names unless there's a good reason not to. This is for convenience so you can `@brianv0`, for example, if a Jenkins build fails.

DESC people may use their GitHub names for convenience, but it's probably less important. It's still a good practice regardless, especially if we continue to primarily use applications that integrate with GitHub, as it provides clarity

[2016-08-27 06:49] connolly commented on #22
@brianv0 I think we just want to push on with the roll out. We can think of the marketing aspects after we have things rolling. I dont have an opinion on IRC and XMPP but bet @richardxdubois does!

@drphilmarshall I agree it will be up to the user but we can strongly encourage it (pointing out the connection to github and community.lsst.org) and see what happens.

[2016-08-27 15:08] richardxdubois commented on #22
I have hoped that access via clients like adium would reduce the need for yet another chat client on my desktop. So yes about IRC. I think Tony et al have worked out how that looks.

I'm finding github names are often hard to figure out who the person is - but Brian's argument for connections to builds etc make sense.

[2016-08-28 16:46] tony-johnson commented on #22
We should enable XMPP since it allows access to SLACK from existing chat clients like pidgin, empathy, adium etc. Personally I do not want to use a separate client for each chat application, which is one thing which has inhibited my use of HipChat.

I would like to automatically generate invites (for at least an initial subset) of DESC members this week. If this really needs to be done at the same

[2016-08-28 16:58] tony-johnson commented on #22
At Tucson we also agreed to add name-spaces to anything which would otherwise be confusing if it had global scope (e.g. channels and groups), something like DESC::Strong-Lensing for example.

[2016-08-28 18:34] drphilmarshall commented on #22
Here's 2c from me:

I teach pretty much every new user I interact with that their GitHub
username should be very close to their real name, so that their projects
are easy to find and contribute to - and I encourage this and the placing
of their full names on their profiles because this is an increasingly
important part of their professional web presence.

I guess another thing we could do is keep

[2016-08-28 19:00] drphilmarshall commented on #22
Now, with my Collaboration Council hat on:  the CC is excited about Slack, as we think it should help us communicate better about all our issues (so to speak).

Questions arising at the last CC meeting (embellished and paraphrased):

1) My understanding is that "LSST" will appear in my Slack app as another "team", that I can switch to and from (I am in a number of Slack teams, like Risa's "gfc@kip

[2016-08-28 19:43] brianv0 commented on #22
1) Yes. DESC channels should be prefixed with a DESC:: or DESC|, for example. DM channels will be prefixed with a DM:: or DM|. Channels that are not prefixed may be subject to garbage collection (deleted or archived, https://get.slack.help/hc/en-us/articles/201563847-Archiving-a-channel) after a period of inactivity.

2) I don't think so. I've never heard of people running out of channels, and I k

[2016-08-29 00:41] connolly commented on #22
@brianv0 To move forward I think we need an agreed namespace convention. "::" and "|" dont work as they are special characters and not allowed. The channel needs to be max 21 characters and lowercase (this is quite limiting). Can you touch base with Frossie (on Slack :) ?) and agree on something and agree the initial channels we should set up (e.g. desc-wl, dm-software). I think if DESC and DM are

[2016-08-31 23:18] connolly commented on #22
Billing is all set up so we can add names. Iain is sending me the email lists for the SCs

[2016-09-01 20:16] dkirkby commented on #22
The flat channel namespace seems like a potential showstopper since it will lead to a un-manageable sidebar list and either requires cryptic names or a shallow hierarchy.  For example, desc-wl-deblending (18 chars) would be recognizable to experts, but does not allow an addition sub-level with -sims, -data, etc.

[2016-09-01 22:30] brianv0 commented on #22
So there are two use cases here.

If you don't know which channel to join, you'll probably be browsing for a channel. In that case, you are presented with a description of what a channel's purpose is.

If you see a channel on the left side of your UI, you are already in that channel and you know the name association in any case. (The exception to this right now is that we don't have that many chan

[2016-09-01 22:38] connolly commented on #22
and the search looks like it is progressive (so "desc" would return all desc channels "desc-wl" the desc WL ones etc. @brianv0 did you manage to get a list of channels from frossie. Does she just want a replication of what is on hipchat (with lsst appended)?

[2016-09-01 23:48] cwwalter commented on #22
Is it obvious the namespaces are really needed?

Let's say I am only part of DESC and not the project.  Will I ever even see the rooms I don't have access to?

If I see them and just can't join them it is an issue.  But, if they are hidden to me and the system doesn't actually let you make duplicates maybe that is good enough.

Remember at least on the project side there are already some hierarchi

[2016-09-15 19:31] heather999 commented on #13
This issue is probably due to be closed, but here are some thought:
I just updated the gh-pages branch to include some Sphinx generated doc from our RsT files,
http://darkenergysciencecollaboration.github.io/ComputingInfrastructure
for now this is a manual operation.  My primary purpose was to better document the software installation at NERSC.
We should use travis-ci to automate this procedure of

[2016-09-21 23:16] drphilmarshall opened #33 "SUITing up the LSSTDESC"
@richardxdubois @dodelson @connolly @djbard

@jchiang87 @tony-johnson and I met with the IPAC DM SUIT (science user interface and tools) team today (Xiuqin, Gregory, Trey, Tatiana). They were visiting the Camera team, and I'd said that it would be interesting to talk more with them after I chatted a bit to them in Tucson.

Jim and I talked them through what we think is a fairly typical use case, h

[2016-09-21 23:28] djbard commented on #33
We already have Jupyter supported at NERSC - and we use it extensively! See:
http://www.nersc.gov/users/data-analytics/data-analytics/web-applications-for-data-analytics/
https://ipython.nersc.gov/hub/login
It's basically our new favourite toy. Service may be a little spotty right now, as the server sits on one of the Cori nodes and that system is down for the next few weeks, but we can certainly

[2016-09-21 23:44] drphilmarshall commented on #33
Thanks Debbie, that is _very_ good to know! We'll give it a try over in Twinkles.

[2016-09-22 15:16] heather999 opened #34 "Preparing for Py3 at Hack Week"
Tom and I were chatting..  it sounds like DM is poised to move to python 3.  Are we ready? It would be nice to take advantage of the Hack Week to pick an expert's brain. We can add a new hack to the growing list on Confluence - but I'd like to hear some confirmation this is useful, and an idea of who to target as an "expert". Thoughts @jchiang87, @tony-johnson, @drphilmarshall?

[2016-09-22 15:31] jchiang87 commented on #34
We did have an issue on this already, #209, and the outcome of that was to run `pylint --py3k` on the python scripts in the travisc-ci builds to ensure python 3 compliance.  Do we need to do more?  I guess I would ask @rbiswas4 or @danielsf about the DM plans and how they would affect us beyond what we've done so far.

[2016-09-22 15:56] heather999 commented on #34
I'm also thinking about software installations and when it is appropriate for us to make the move to python 3.  Do we expect phosim will support py 3 on the same time scale as DM?  @TomGlanzman  should feel free to chime in too.

[2016-09-22 16:00] jchiang87 commented on #34
Assuming our code is python 3 compatible, I see no reason not to move to the python 3 version of the Stack as soon as it is available.

[2016-09-22 16:28] danielsf commented on #34
The lsst_sims stack is not yet python 3 compatible.  We have planned our work for FY2017.  Supporting python 3 is on there, but it is not a high priority.  My guess would be that having lsst_sims ready for python 3 by the hack week is not realistic, but I could be wrong.

[2016-09-26 15:07] heather999 commented on #34
Thanks, @danielsf & @jchiang87
Closing this issue.  It might be helpful to keep track of when the sims are py3-ready so we can transition at the right time.

[2016-09-26 15:08] #34 closed

[2016-10-24 17:56] heather999 opened #35 "Documenting a distributed code dev environment"
@jchiang87 @drphilmarshall I was going to try this in SLACK under desc-ci, but I think Phil needs to join that channel first, so instead here's a GitHub Issue!
During the last CI meeting we discussed documenting: DC1 Key Project CI4: Develop a Distributed Code Development Environment
This has been listed as DONE, with a question mark for documentation. We have a start, but very likely this needs s

[2016-11-22 15:57] drphilmarshall opened #36 "Change the GitHub organization name to "LSSTDESC"?"
@DarkEnergyScienceCollaboration/computing-infrastructure

I’ve been thinking for a while now that our GitHub organization name (DarkEnergyScienceCollaboration) is really long, and not very accurate. When we started this collaboration we were all focused on how Dark Energy science fitted in to the more general LSST science collaborations system, so we ended up talking about “the DESC", and so we ma

[2016-11-22 15:59] drphilmarshall commented on #36
I notice the name "LSSTDESC" would also mirror that of our sister collaboration, Transients and Variable Stars [https://github.com/LSSTTVS](LSSTTVS)

[2016-11-22 16:17] cwwalter commented on #36
I'm for this if it can be done without breaking everything.  An extra bonus is that when looking at thousands of PhilSim emails the subject line might be short enough that I can see what repo is actually being referred to in the pane that just shows subject lines.

[2016-11-22 16:40] drphilmarshall commented on #36
Excellent point @cwwalter . With a better-formatted subject line my robot and I would hope to receive even more issue replies! Regarding breaking things, I think we'd want to inform the collaboration about the change, reassure them that their links to repos, issues etc will still work, but to watch out for differences in @mentioning people. We would need to fix any links to the organization profil

[2016-11-22 19:04] brianv0 commented on #36
Not a requirement, but I think it's nice if it's all lower case.

W.R.T. to renaming: GitHub won't break things in the short term (it knows the old name and new name and can do some magic/forwarding based on that)  but eventually you want to fix your stuff.

[2016-11-29 02:12] drphilmarshall commented on #36
OK, I'll go ahead and make this change, and own it to the Members. Wish me luck! :-)

[2016-11-29 02:12] #36 closed

[2017-04-22 18:37] richardxdubois commented on #22
Long done!

[2017-04-22 18:37] #22 closed

[2017-04-22 18:39] richardxdubois commented on #10
We have created pseudo accounts for different processing tasks. And limited individuals to 100k hrs by default. Can be increased on request.

[2017-04-22 18:39] #10 closed

[2017-04-22 18:41] richardxdubois opened #37 "Apply for ALCC time for 2017"
In case we run short of time at NERSC, put in an ALCC request.

https://www.nersc.gov/users/accounts/alcc/

[2017-04-22 18:45] richardxdubois opened #38 "Test PhoSim on NERSC KNL partition"
In order to get a noticeable increase in NERSC allocation for 2017/DC2, we will need to demonstrate we can use KNL. We need to benchmark PhoSim on KNL.

This should be done before we submit a KNL time request by 2017-04-28

[2017-04-22 18:50] richardxdubois opened #39 "Test ImSim on NERSC KNL partition"
We may need ImSim to run on the KNL partition. Benchmark its performance there.

[2017-04-22 18:53] richardxdubois opened #40 "Fill out HEP request form for KNL time"
We need to respond to an HEP request for info for getting KNL time after June.

Dear NERSC HEP PIs,

You will have an opportunity to receive additional allocations from your Allocation Manager for use on KNL in June 2017. The additional allocation will be based on your original ERCAP request for 2017, your proficiency in using KNL (as noted by NERSC), and HEP program priorities.

To facilitate thi

[2017-04-22 18:55] richardxdubois opened #41 "Release beta PhoSim 3.7 for testing at NERSC"
We'll need to show a big improvement in PhoSim thread performance to get more time at NERSC. John agreed to release a beta version of 3.7 with the fixes he described in the 2017-04-17 CI meeting.

[2017-04-22 19:06] richardxdubois opened #42 "Get more NERSC allocation to complete DC1, and do DC2"
Due to ignorance (not realizing we had to ask for NERSC-hrs in our allocation request, not CPU-hrs, we lost a factor 2.5 off the bat. Then PhoSim-threaded has been 40% efficient. So, the ~3M hr estimate for DC1 has become more like 18M NERSC-hrs; we got 14M.

 Lali has granted us two shots of 5M hrs in the past two weeks, so we should be able to finish DC1.

 DC2 was estimated at 20M CPU-hrs. If P

[2017-04-22 22:34] rmjarvis commented on #39
I see that I'm assigned to this job.  However, I'm not sure that I'm the best person to lead this effort, since I've never run ImSim on any machine (Nersc or otherwise), nor have I ever run any kind of jobs at Nersc other than very small test programs that don't require the queue.

I'd be happy to troubleshoot issues that arise with GalSim related to the KNL architecture, but I think someone else

[2017-04-25 00:37] TomGlanzman commented on #38
**Update** 1:  After some flailing, managed to get a version of phoSim v3.6.1 built that runs on Cori-KNL.  The minimal test consisted of making no changes to the compiler or its options, and minimal changes to the environment to build successfully.  Once built, initial test was to simulate a single mag=20 star with no background.  The bottom line is this took 3.3 min on Cori-Haswell and 17 min on

[2017-04-25 00:43] brianv0 commented on #38
That's with the same amount of threads? If so, that's to be expected in CPU-bound applications - it's known Atom-based KNL cores are roughly 1/5th the performance of the Haswell cores.

[2017-04-28 18:38] richardxdubois commented on #40
Submitted 2017-04-27. Requested 75M NERSC-hrs.

[2017-04-28 18:38] #40 closed

[2017-05-02 17:25] TomGlanzman commented on #38
Update 2: As [reported](https://docs.google.com/presentation/d/13ARaF7RDpAEcuDgU0xSyt779F8IAySLbFPTlbUrFDeY/edit?usp=sharing) at yesterday's DESC-CI meeting, there seems to be a problem running phoSim on KNL with backgrounds enabled.  The symptom is that at one point the process reduces to a single thread (if running in multi-threaded mode) which then runs longer than the maximum KNL queue limit o

[2017-05-25 15:15] heather999 opened #43 "Test DMstack on NERSC KNL"
Currently building vanilla DMstack v13_0 on Cori KNL.  We'll see what happens.

[2017-05-26 15:42] drphilmarshall commented on #43
Good luck, Heather! We are all rooting for you.

[2017-05-26 21:21] heather999 commented on #43
:)  Built vanilla v13_0 successfully for Cori-KNL.  Working on testing the typical demo code using interactive mode to submit a job on KNL.

[2017-05-30 15:33] drphilmarshall commented on #43
Great! Well done :-)  How'd the demo go?

[2017-05-30 16:06] heather999 commented on #43
It went off perfectly fine. I ran using one of the KNL interactive nodes and it completed without error.  Then we compare the output detected-sources.txt to the expected results, and the demo's bin/compare exe reported "Ok". I declare success.

Next up - we should test a more complex run. To do that, I need a recipe or to pass this off to someone who runs Twinkles or DC2 runs.. If given instructio

[2017-05-31 16:42] heather999 commented on #43
@tony-johnson & @SimonKrughoff would you have any recipes available to run a simple, longer, job using DMstack v13?  I can introduce the updated obs_lsstSim easily enough so it's an identical version of the code used for current jobs.

[2017-05-31 19:31] drphilmarshall commented on #43
Maybe the WFD Twinkles 1 runs could be good for this test? The early DRs
should be pretty low memory consumption.

On Wed, May 31, 2017 at 9:42 AM, Heather Kelly <notifications@github.com>
wrote:

[2017-06-05 14:26] heather999 commented on #43
@drphilmarshall Maybe :)  I just need a basic recipe for how to set up such a job and I can try it out.  I'm happy to do it.. I'm also happy to pass this to someone else.. or perhaps what I've done already is "good enough" and we wait to see what happens when we try to use KNL for real.

[2017-06-05 14:53] tony-johnson commented on #43
Hi heather, it would be easy to run some sample jobs using the pipeline on knl. Do you have the stack setup already?

Tony

On Jun 5, 2017 7:27 AM, Heather Kelly <notifications@github.com> wrote:

@drphilmarshall<https://github.com/drphilmarshall> Maybe :) I just need a basic recipe for how to set up such a job and I can try it out. I'm happy to do it.. I'm also happy to pass this to someone else.

[2017-06-05 15:38] heather999 commented on #43
Hi @tony-johnson, yes we have a vanilla DMstack v13_0 here:
/global/common/cori/contrib/lsst/lsstDM/knl-test
The updated obs_lsstSim used for Twinkles/DC2 is also available.  There are two setup scripts where you can either use vanilla DMstack v13_0 or v13_0 along with the modified obs_lsstSim.

[2017-07-14 13:36] brianv0 opened #44 "Adopt a list of supported systems"
For guidance for developers and documentation, it'd be good if we could adopt a list of officially supported platforms and one blessed docker platform.

My Suggestions:
* Mac OSX - Most recent 2 versions, with the oldest release being deprecated at 6 months after current release. Users *must* have homebrew installed.
* Ubuntu LTS: Support current LTS release. (e.g. 16.04.1+, eventually 18.04.1+)
*

[2017-07-14 15:53] brianv0 opened #45 "Standardize on Python 3 by default"
Jupyter and other software is ending active support Python 2 (IPython 5.x LTS) support at the end of the year, with all support ceasing in 2019. While it's feasible that some support could still happen, by not encouraging Python 3 by default we risk running into support issues at NERSC and Jupyterlab. Similarly, all integration tests in DM for 2018 and beyond will be performed using python 3 by de

[2017-07-14 16:03] esheldon commented on #45
be prepared for lots of confusing errors related to strings

[2017-07-14 16:09] heather999 commented on #45
Do we have a page that can aid those migrating from Python 2 to Python 3 for existing projects @jchiang87? If not, is there a list of the top 10 most common things that need to be done?  I'm happy to make a page.

[2017-07-14 16:13] jchiang87 commented on #45
We don't have one for DESC, afaik, but I made some links at the Camera Data Handling page that may be a good start for a DESC page,

https://confluence.slac.stanford.edu/display/LSSTCAM/Python+V3+Migration​

Note that these are all links to the DM documentation.

[2017-07-15 02:02] drphilmarshall commented on #45
This came up a couple of times today: DESCQA are in transition to python 3,
and Chris Walter pointed out it would make life much easier supporting
people at NERSC.

[2017-07-21 16:51] richardxdubois opened #46 "Add time history to collaboration database entries and backfill as possible"
The database didn't end up with enough time stamps for transitions, etc. Charlotte has started working on fixing this so we can get better metrics of membership numerology vs time.

[2017-07-21 16:56] tony-johnson commented on #46
We are tracking this as https://jira.slac.stanford.edu/browse/SRSUSER-105

[2017-07-21 18:11] heather999 commented on #39
Chris points out that this issue is duplicated: https://github.com/LSSTDESC/imSim/issues/60

[2017-07-21 20:43] #39 closed

[2017-07-24 15:07] tony-johnson opened #47 "Automate generation of SLACK invites when people join DESC"
And automate removal of permissions when people leave.

[2017-07-24 15:14] tony-johnson opened #48 "Consider making the LSSTDESC github repos more self-consistent"
Currently many gtihub repors are set up with different permissions. For instance CCL includes many DESC members listed as "collaborators" while others are setup to give write access to members, and others not. This causes people (especially new members) to become confused. It would be nice if we just had a limited set of permission groups (public, members only, private) and these were clearly mark

[2017-10-09 21:42] richardxdubois opened #50 "Collect NERSC Usage Estimates for Oct 11 DOE Response"
Lali Chatterjee has asked for an update on how much NERSC time we plan to use from our current allocation (30M KNL NERSC-hrs). She is targeting groups with 2M+ hrs to redistribute time from. Response is due COB Wed, Oct 11.

 This issue would collect inputs for that response.

[2017-10-09 22:05] katrinheitmann commented on #50
- 1M for generating extragalactic catalog for protoDC2 (downscaled catalog for DC2), will start as soon as NERSC is back on

[2017-10-10 16:52] jchiang87 commented on #50
* 6M for phosim simulations of the protoDC2 field for all six bands and 10 years.  This is based on Salman's estimate of 70M cori II hours for phosim generation of the full DC2 dataset, i.e., 70M*(25 sq deg/300 sq deg).

[2017-10-10 21:08] rmandelb commented on #50
* 6M for GalSim atmosphere tests - specifically convergence and accuracy tests for the atmospheric PSFs depending on what DFT settings were used.  These will be used to define on the best DFT settings to use for a DFT vs. photon-shooting (imsim and PhoSim) comparison.  The 6M assumes: ~5 realizations of a 3x3 raft at the default DFT settings, and then a grid of values of the 4 DFT settings that ar

[2017-10-10 21:25] richardxdubois commented on #50
For Jim's estimate - I'm carrying in my head that protoDC2 is 2% of DC2. His calculation is for 25 sq deg. What am I missing?

[2017-10-10 21:26] richardxdubois commented on #50
For Rachel's estimate - this is in good old CPU hrs... we have to apply x2.5 to get to NERSC-hrs, and James found that he could only fill 1/2 a KNL node with ImSim jobs. So Rachel's 6M CPU-hrs floats up to 30M NERSC-hrs - which is all we got.

[2017-10-10 21:29] katrinheitmann commented on #50
I think it's me who can't do the math correctly without a supercomputer
anymore ;-) I think I might out of 5x5 just 5 and divided 5/300 which is
obviously not right. Sorry for that. I think I did that late at night.

On 10/10/17 4:25 PM, Richard Dubois wrote:

[2017-10-10 21:30] rmandelb commented on #50
Never fear, @richardxdubois , I'm iterating with the others about a way to reduce the cost of that test.  Will edit my original comment once I get confirmation from the others that the new plan will work (or, an alternate suggestion from them).

[2017-10-10 23:08] richardxdubois commented on #50
If we are to have a small DC1 re-do with PhoSim 3.7, how much is enough to benchmark? @jchiang87, @salmanhabib

[2017-10-11 01:32] salmanhabib commented on #50
I would guess about 5M NERSC hours depending on how much work we want to do.

On 10/10/17 6:08 PM, Richard Dubois wrote:

[2017-10-11 16:42] richardxdubois commented on #50
So far we have a total of 1+6(*)+6+5 = 18M NERSC-hrs.

(*) @jchiang87  is checking with @salmanhabib whether his 6M for PhoSim is CPU-hrs or NERSC-hrs.

[2017-10-11 16:43] richardxdubois commented on #50
@salmanhabib  -  are there any requests that might have been for AY18 that can be done in CY2017? @katrinheitmann thought there might be one at least.

[2017-10-11 16:47] salmanhabib commented on #50
There's one for about 1M NERSC-hours, running modified gravity
simulations (UT Dallas) on the KNLs. I'll send you the info separately.

On 10/11/17 11:43 AM, Richard Dubois wrote:

[2017-10-11 16:56] reneehlozek commented on #50
@rbiswas4 estimated that we could ask for around 200K NERSC-hours to develop analysis pipelines for the Observing strategy task force.

[2017-10-11 19:42] jchiang87 commented on #50
@richardxdubois I went through Salman's numbers for the DC2 phosim NERSC estimate and 70M NERSC hours checks out.  So I think the 6M NERSC hours for protoDC2 phosim production is ok too.

[2017-10-11 22:05] richardxdubois commented on #50
So it looks like we're asking Lali for about 20M NERSC-hrs to tide us until the new allocation year....

[2017-10-11 22:15] cwwalter commented on #50
Did we include DM reprocessing with v14?

[2017-10-11 22:37] richardxdubois commented on #50
re DM of v14 - no. I think that would add 1.5M or so. And a lot of space we don't have... But I can add it to the list.

[2017-10-11 23:05] richardxdubois commented on #50
I've sent in the response to Lali.

[2017-10-11 23:05] #50 closed

[2017-10-11 23:38] drphilmarshall commented on #50
Thanks Richard, thanks all. I think our return will be well appreciated -
and it's good to have a plan for the remainder of the calendar year!

[2017-10-12 17:31] richardxdubois opened #51 "Inputs for AY2018 ERCAP/NERSC allocation proposal"
We need to submit our request to NERSC for our AY2018 allocation by COB on Monday, Oct 16. It will largely be based on DC2 needs - and we need to be sure to capture tape (SRU) needs this time. Salman has collected a handful of individual requests as well.

I believe the current PhoSim estimate is 70M NERSC-hrs for the 300 sq deg sky.

What else?

[2017-10-12 17:37] salmanhabib commented on #51
Who is this Salam guy? ;-)
Yes, there are other cases -- I suspect we will end up asking for about 100M NERSC hours. I'll start putting stuff together today and aim to have a rough cut done Friday night.

[2017-10-12 17:37] cwwalter commented on #51
imSim run + DM processing.

Is it possible to actually do some run and see if the 70M hr # for PhoSim is reasonable in practice first?

[2017-10-12 17:38] richardxdubois commented on #51
I've been asking for a fractional DC1 rerun with 3.7 to benchmark it...

[2017-10-12 17:40] salmanhabib commented on #51
Chis, do you guys have estimates for what you need? The DC1 tests that we'll run with PhoSim now should tell us if the 70M estimate is robust. Hope to push on some tests next week.

[2017-10-12 18:02] jchiang87 commented on #51
Using results from James' performance studies, for the imSim runs I get

NERSC hours = 96*(824 pointings)*(30 fovs)*(1.4 dither factor)*(189 sensors)*(1.4 KNL hours per sensor-visit)/(48 jobs/node) = 18M

This is similar to the calculation Salman used for the phosim estimate.

Based on James' cProfile results, where GalSim drawImage was only 6% of the cpu time, I'm sure we can reduce this by a lar

[2017-10-12 18:09] richardxdubois commented on #51
For SRUs - we estimated 1 instance of DC2 would take up 1 PB (compressed) of image and related files. (reminder: and we've only budgeted for 1 PB of storage to buy at NERSC...)

[2017-10-12 18:11] jchiang87 commented on #51
So we need to decide if we really want full image simulation for both phosim and imsim.   I would expect not for the final DC2 dataset.

[2017-10-12 18:16] richardxdubois commented on #51
or can we be creative - would both instances need to be fully on disk?

[2017-10-12 18:19] cwwalter commented on #51
Right, we might only need the full individual exposures and warps etc always on disk for a few patches for people to do studies.  We might only need the co-adds there all the time.

[2017-10-13 17:46] heather999 opened #52 "ANL Dec 2017 Sprint Week CI Hacks"
In preparation for the Dec 2017 Sprint Week, Jim has suggested a catch-all project that includes a number of outstanding side projects in need of completion.  This issue is meant to capture additional suggestions.  We could include also seek to closeout existing CI github issues. Here is a starter list:

- getting the travis builds working with the DM SQRE docker images
- organizing the software c

[2017-10-16 00:27] jchiang87 commented on #51
Here is an estimate for Level 2 processing of 1 instance of DC2 image data:

NERSC hours = 96\*(824 pointings)\*(30 fovs)\*(1.4 dither factor)\*(21 rafts)\*(6 KNL hours/raft-visit)/(68 raft-visits/node) = 5.5M

This is based on 1 Haswell hour per raft-visit estimated from the DC1 undithered processing, where 90% of the total processing time was for the processEimage task, which took ~0.9 Haswell h

[2017-10-16 16:56] richardxdubois commented on #51
Many thanks to @salmanhabib  for preparing the ERCAP proposal. To recap the resources:

130M NERSC-hrs
10M SRU
1 PB HPSS
200 TB scratch

I'm wondering if we want 2 PB HPSS, if we end up doing full PhoSim and ImSim instances of DC2.

The request needs to be submitted by midnight PT today.

[2017-10-16 16:58] salmanhabib commented on #51
Right, I put in the 1PB on HPSS as a place-holder, one can always ask
for more --

On 10/16/17 11:56 AM, Richard Dubois wrote:

[2017-10-16 16:59] richardxdubois commented on #50
Lali has responded that she will remove 8M hrs from our allocation, and has done so. Our allocation is now 23.3M NERSC-hrs.

[2017-10-16 18:19] jchiang87 commented on #51
According to Tony's processing numbers for DC1, the bulk of the resource cost for the coadd processing are the makeTempExpCoadd, assembleCoadd, and measureCoadd tasks.  The number of jobs for each coadd task was the number of sky "patches" times the number of bands, and the number of patches scales with the sky coverage. For DC1 dithered, the number of patches was 841.

**makeTempExpCoadd**:
max m

[2017-10-16 18:28] richardxdubois commented on #51
I was just trolling our records, and see that at the DOE Ops review in April we had asked for 150M hrs in each of FY2018 and 2019.

[2017-10-16 19:05] richardxdubois commented on #51
We've upped the CPU request to just under 150M to handle the L2 need.

I'm still a bit unsure about the SRUs. Just seems odd that we've used 1.4M so far for DC1, but only need 10M for DC2?  Maybe @djbard or @MustafaMustafa could confirm 10M is fine?

[2017-10-16 19:16] salmanhabib commented on #51
I believe this is connected with the number of files. Probably there are
too many small files; they should be aggregated as a matter of course.
If this is done in a reasonable manner, the SRU count will be fine.
Either way, we can always ask for more once we start running DC2, it
shouldn't be a problem.

On 10/16/17 2:05 PM, Richard Dubois wrote:

[2017-10-16 19:42] MustafaMustafa commented on #51
@salmanhabib, the number of files factor is negligible, here is the formula: yearly user SRUs = 0.01436*files + 4.787*space(GB) + 4*I/O(GB) (https://goo.gl/D2rhJw)

@richardxdubois , according to that equation, 10M should be enough for the planned 1PB.

[2017-10-16 19:47] salmanhabib commented on #51
Ok, that was the only thing I could think of -- the 10M estimate came
from my estimates of overall size and IO and a reasonable file size. In
fact, I built in a safety factor of about 30% --

Who can make sense of this formula ;-)

On 10/16/17 2:43 PM, Mustafa Mustafa wrote:

[2017-10-16 20:02] richardxdubois commented on #51
But since we upped the storage to 2 PB, in case we do 2 full DC2 instances, maybe we should go with 15M?

[2017-10-16 23:25] richardxdubois commented on #51
We set it to 15M and I just hit the 'submit' button. Thanks everyone for gathering up what we needed to ask for, and again to @salmanhabib for preparing it!

[2017-10-17 13:05] richardxdubois commented on #51
Got the receipt notice from NERSC...

[2017-10-17 13:05] #51 closed

[2017-10-17 16:57] brianv0 commented on #47
To Clarify: Removal of permissions means removing previous DESC members from private-to-DESC Slack channels. I think the project should be technically responsible for removing people from Slack if their data rights are revoked, since it's conceivable somebody would not be in DESC but still be allowed to use Slack.

[2017-10-17 22:05] chee999 commented on #47
The list of who has data rights, afaik, is based on this list
https://www.lsstcorporation.org/IC-PI-JR-List
It's updated manually and only covers the principal investigators and junior researchers.

[2017-11-09 00:03] jchiang87 commented on #52
* Integration-level testing for release versions of DESC software packages.

[2017-12-04 15:25] heather999 commented on #52
@jchiang87 is there a list of DESC software packages we would like to set up for integration-level testing?

[2018-01-13 00:31] drphilmarshall opened #53 "Hosting medium-sized DESC data products"
@jchiang87 @salmanhabib @katrinheitmann

We need some way of hosting _DESC Data Products_ in the form of medium-sized files on the web for public download. Examples are OpSim output databases, test data challenge image sets and catalogs, and so on. This issue just came up in DC2, where @rbiswas4 has made a modified OpSim db that we'd like to release publically - he checked in with the pub board to

[2018-01-13 00:40] awborgland commented on #53
I see there is a DM Zenodo community (https://zenodo.org/communities/lsst-dm/?page=1&size=20), but they seem to only use it for reports and documentation.

[2018-01-13 16:03] katrinheitmann commented on #53
Here is indeed another solution -- Petrel. It's connected to Globus
online. It's a data sharing platform at Argonne. Tom Uram and I started
playing around with it during the last few weeks. They gave us 100TB to
start with and we started populating it with some simulations. They are
keen on having LSST DESC involved as well.

Petrel itself is simply a Globus interface but for the simulations Tom
(

[2018-01-17 00:28] sethdigel commented on #53
The Publication Policy does not have any specifics about how data releases are made.  It does define data releases as always being associated with a journal paper:  "material produced within the DESC and made available to the community in machine­-readable form after submission of the corresponding data release paper (and no later than its publication). This includes processed (or reprocessed) dat

[2018-01-19 21:28] jchiang87 opened #54 "Document the production software management policies"
This should include descriptions of the production software environment at NERSC, its deployment, the kinds of packages that should be included in the production software distribution (i.e., DESC repos, third party packages, forks of lsst packages, etc.), and the change control process.

[2020-02-25 13:22] wmwv opened #55 "Update or remove public-facing documentation"
The documentation in this repository is public-facing at

https://lsstdesc.org/ComputingInfrastructure/

It is an out-of-date subset of our Confluence pages.

The pages under this repository should be updated, or perhaps more likely removed as there is no current mechanism for keeping the Confluence pages and this repo documentation updated.

[2021-09-08 21:31] heather999 commented on #17
Closing old issue as we've moved on from Twinkles

[2021-09-08 21:31] #17 closed

[2021-09-08 21:32] heather999 commented on #43
I think we've moved on :)

[2021-09-08 21:32] #43 closed

[2021-09-08 21:33] heather999 commented on #18
Likely completed a long time ago

[2021-09-08 21:33] #18 closed

[2021-09-08 21:33] heather999 commented on #38
Moved on from phoSim

[2021-09-08 21:33] #38 closed

[2021-09-08 21:34] heather999 commented on #52
2017 Sprint Week is over

[2021-09-08 21:34] #52 closed

[2021-09-08 21:35] heather999 commented on #45
Py2 is deprecated, thinking it is safe to assume everyone has moved on to Py3

[2021-09-08 21:35] #45 closed

[2021-09-08 21:35] heather999 commented on #41
Moved on to imSim

[2021-09-08 21:35] #41 closed

[2021-09-08 21:37] heather999 commented on #33
JupyterHub at NERSC is a thing :)

[2021-09-08 21:37] #33 closed

[2021-09-08 21:37] heather999 commented on #37
We're in 2021

[2021-09-08 21:37] #37 closed

[2021-09-08 21:37] heather999 commented on #42
DC1 and DC2 processing is currently completed

[2021-09-08 21:37] #42 closed

[2021-09-08 21:50] heather999 commented on #23
Hey PubDB is here! and we have a Speakers Bureau now

[2021-09-08 21:50] #23 closed

[2021-09-08 21:51] heather999 commented on #46
No work has been done on this.. and no expectation that there will be updates to the DESC DB in the near future.

[2021-09-08 21:51] #46 closed

[2021-09-08 21:52] heather999 commented on #20
Looks like Johann was interested, so much so that he ran DC2 processing at IN2P3

[2021-09-08 21:52] #20 closed

[2021-09-08 21:54] heather999 commented on #47
We're still using a manual process for SLACK invites and have no expectation that will change.

[2021-09-08 21:54] #47 closed

[2021-09-08 21:54] heather999 commented on #19
The 2 birds are killed

[2021-09-08 21:54] #19 closed

[2021-09-08 21:55] heather999 commented on #12
StackClub anyone?

[2021-09-08 21:55] #12 closed

[2021-09-08 21:56] heather999 commented on #7
Either completed long ago or it never will be.

[2021-09-08 21:56] #7 closed

[2021-09-08 21:58] heather999 commented on #11
NERSC has improved things for PIs via the Community File System and various tools available on https://my.nersc.gov/ such as the PIToolbox

[2021-09-08 21:58] #11 closed

[2021-09-08 21:59] heather999 commented on #13
Confluence won - long live Confluence!

[2021-09-08 21:59] #13 closed

[2021-09-08 22:09] heather999 commented on #5
see https://github.com/lsstdesc/gen3_workflow and say hello to Perlmutter

[2021-09-08 22:09] #5 closed

[2021-09-08 22:12] heather999 commented on #53
We took a first swing at this for the DC2 public release: https://lsstdesc-portal.nersc.gov/

[2021-09-08 22:12] #53 closed

[2021-09-08 22:18] heather999 commented on #14
Interesting idea, but the [demo site](http://darkenergysciencecollaboration.github.io/) is no longer available.
We have a large number of repos and perhaps we do need a way to provide an organized view, but I don't think that we have the people power to manage this. Closing

[2021-09-08 22:18] #14 closed

[2021-09-08 22:21] heather999 commented on #26
I'm a big-shot LSSTDESC admin now _muahahaha_, oh and we've moved to GH Actions and we're not using gh-pages at this point.

[2021-09-08 22:21] #26 closed

[2021-09-08 22:26] heather999 commented on #48
We have discussed this since in https://github.com/LSSTDESC/desc-help/issues/35 - and the conclusion is to provide better documentation for GH repo developers to encourage setting up "admin" and "developer" teams and to explicitly reach out to the most active repo maintainers.

[2021-09-08 22:26] #48 closed

[2021-09-08 22:28] heather999 commented on #32
See: https://github.com/LSSTDESC/start_paper

[2021-09-08 22:28] #32 closed

[2021-09-08 23:02] heather999 commented on #28
See https://github.com/LSSTDESC/start_paper

[2021-09-08 23:02] #28 closed

[2021-09-08 23:14] heather999 commented on #24
From the Ops Manager: We are storing DESC Notes as Confluence attachments (with links to the attachments stored in PubDB.  This means that in principle, we can search Notes using the search feature of Confluence to search attachments in the LSSTDESC space.

[2021-09-08 23:14] #24 closed

[2021-09-09 15:01] heather999 commented on #55
_poof_ - removed

[2021-09-09 15:01] #55 closed

[2021-09-13 21:11] heather999 commented on #44
Closing but we should revisit this

[2021-09-13 21:11] #44 closed

[2021-09-13 21:15] heather999 commented on #16
Closing.  See : https://docs.github.com/en/repositories/working-with-files/using-files/working-with-non-code-files#working-with-jupyter-notebook-files-on-github

[2021-09-13 21:15] #16 closed

[2021-09-13 21:16] heather999 commented on #6
Closing

[2021-09-13 21:16] #6 closed

[2021-09-20 22:03] heather999 opened #56 "remove old files and update README"
Everything under the `doc` and `image` directories should likely just be removed.

The README should be updated to indicate that DESC members are welcome to open up issues with Computing infrastructure task requests that the Computing Coordinators plus Computing Working groups can discuss and prioritize.

[2021-09-21 17:32] heather999 commented on #56
Initial pass done

[2021-09-21 17:32] #56 closed

[2021-09-21 17:59] heather999 opened #58 "Update access to this repo"
the CO GH team has access to this repo.  That team should likely be expanded to make sure it includes: All Computing WG (CO, CSS, SRV) conveners, Computing Coordinator Team, and Computing Topical Team leads.  Anyone else?

All DESC members should be allowed triage access to this repo to open and manage GH issues. After further discussion within the CO WG, this will be enabled.

[2021-09-23 21:34] heather999 opened #59 "Set up gen3 repo on NERSC CFS for general DESC access"
Jim requested that the Run2.2i and Run3.1i gen3 repos currently on `/global/cscratch1/sd/descdm/Gen3/Run*i` could be set up on CFS at NERSC.

The area will be set up under `/global/cfs/cdirs/lsst/production/gen3/DC2/Run*i`

To allow DESC users to easily utilize these repositories, they should be able to add symlinks to their own area (such as on CSCRATCH) under `/global/cfs/cdirs/lsst/production/g

[2021-09-24 17:42] heather999 commented on #59
The globus copy completed.  On Slack, Jim indicated that `Run3.1i/run31_repo` could be removed and we have no interest in the contents of `Run2.2i/run22_repo/u`  So those have been removed.

The `/global/cfs/cdirs/lsst/production/gen3` area allows full access to any desc* collaboration account, including `descdm`, so that should allow others to clean up as necessary.

I've set up `/global/cfs/cdir

[2021-09-27 05:18] jchiang87 commented on #59
I did some housekeeping on the new repositories to make sure they are usable for Gen3 processing:

`Run2.2i`:
* Cleaned up unneeded files that were copied from the `descdm` scratch area.
* Copied missing symlinks to the `ref_cat/cal_ref_cat` folder.
* Made symlinks from `descdm` and `jchiang8` scratch areas in `run22i_repo/u` folder.

`Run3.1i`:
* Cleaned up unneeded files that were copied from `d

[2021-10-05 17:59] jchiang87 commented on #59
I think we're good to go here.  Closing.

[2021-10-05 17:59] #59 closed, assigned to heather999

[2021-10-19 20:54] heather999 commented on #58
Discussed on Slack and now DESC members have Triage access to this repo.
All current Computing Conveners plus some others, are part of the CO GH Team

[2021-10-19 20:56] #58 closed, assigned to heather999

[2021-10-27 19:54] heather999 opened #60 "Storing OSWG files at NERSC"
OSWG co-convener, @humnaawan, reached out concerning data storage at NERSC.  Right now they are predominately using CSCRATCH and it seems clear that some or all of this data belongs under CFS.  Likely some of that data belongs in the `/global/cfs/cdirs/lsst/shared` area.

Here is what I understand:
Rubin survey simulations team creates simulation sqlite databases available at NCSA that the OSWG br

[2021-10-27 20:36] jchiang87 opened #61 "Tools and metadata for managing image processing and simulation campaigns"
As noted by @JoanneBogart in https://github.com/LSSTDESC/DC2-production/issues/316,
we need tools for managing and tracking image processing and simulation campaigns and specifications for exactly what metadata are required for the desired level of provenance and what formats those data should have.

[2021-10-28 17:11] humnaawan commented on #60
thank you @heather999 - your summary is accurate. i think most of the data we are working with right now is under active use so we don't need to put it on tape. this might change later of course.

i've (re)downloaded one set of the simulations at `global/cscratch1/sd/awan/dbs_fbs_v1.7` which should have `lsst` affiliation access enabled. there will be at least 2-3 similar folders that will be good

[2021-10-29 16:46] heather999 commented on #60
Hi @humnaawan
CFS has no purge policy like CSCRATCH, we maintain that area ourselves and is meant to be a more permanent place to store data.  It's still a good idea generally to back things up to tape, but having it on CFS keeps the data available for active use.

Now the management of CFS depends on which subdirectory we're talking about.  When I set up a new directory for the OSWG area, anyone

[2021-10-29 17:51] yymao commented on #60
Sounds reasonable to me. I don't have a strong on the directory name. I think more importantly we should create a README file under `rubin-survey-sim-data` and document how were the datasets obtained, when, and by whom.

We can also consider adding an entry to `GCRCatalogs` to store these metadata.

[2021-10-29 18:34] heather999 commented on #60
Sounds good.  @humnaawan Can you help document how these datasets are obtained, when, etc?  That will allow us to populate a README and then also utilize that information when an entry in GCRCatalogs is created.

[2021-11-02 23:58] heather999 commented on #60
We now have a `/global/cfs/cdirs/lsst/groups/OS` area that the OS WG can use - just note the 10 TB quota.
I have also copied `/global/cscratch1/sd/awan/dbs_fbs_v1.7` into `/global/cfs/cdirs/lsst/shared/external/rubin-survey-sims-data`.  We should still add a README and think about whether this data should have an entry in GCRCatalogs.

[2021-11-19 17:43] jchiang87 opened #62 "Set up a gen3 repo at NERSC with DC2 data for analysis WGs"
Several working groups, e.g., TD, LSS, etc., would like to start using the Gen3 software on DC2 for various image processing work.  We should set up a new Gen3 repo, using the same calibration data products that the project is using for DP0.2 and ingest the DC2 data that these groups will need.

Most groups will want to have the visit level processing outputs already available, so we should run th

[2021-11-20 10:00] ixkael commented on #62
At the moment in LSS we mostly want to setup the infrastructure for using SSI (for example to model the selection function, test the impact catalog and sky cuts, and mitigate spurious clustering). So any subset of tracts would work, for testing purposes. Subsequently we would want to run SSI in a significant fraction of the DC2 footprint (in coadds).
Ultimately we want to develop methods to model

[2021-11-30 20:36] BrunoSanchez commented on #62
For DIA processing I have used in Run2.2i tracts number 4430, 4431, 4432, 4638, 4639 and 4640. Any of those would be useful for Gen3 DIA re-processing of DC2, using y1-y5 images.
Althoug, using y1 for templates, and at least y2 (or y3, y4, y5 data, whichever is the same) and a single tract, could yield great comparisons with Gen2 processing results.

[2021-11-30 21:57] JoanneBogart commented on #61
This should be a part of whatever comes out of [RFC issue 13](https://github.com/LSSTDESC/RequestForComments)

[2021-12-13 16:32] jchiang87 commented on #62
A short progress report:

I've set up repos using DP0.2 calibs and refcats, for Run2.2i here:
[code]
and for Run3.1i here:
[code]
These repos have all of the DC2 Y1-Y5 raw data ingested.

The visit-level processing for Y1 Run2.2i tract 4430 is running now, and I expect to have processing through coadds available this week for people to have a look at and perhaps start SSI studies. Next, I'll move

[2021-12-15 17:15] jchiang87 commented on #62
The coadd processing for Run2.2i Y1 tract 4430 is finished and available at `/global/cfs/cdirs/lsst/production/gen3/DC2/Run2.2i/repo`.  Here are the summed exposure time maps produced by healsparse:
![Run2 2i_Y1_4430_exptime_maps](https://user-images.githubusercontent.com/1994473/146233205-ca8264d0-6e58-437c-92f2-58f4c60b69a4.png)

[2021-12-20 00:45] jchiang87 commented on #62
Coadd processing for Run2.2i Y1 data for tracts 4430-4432, 4638-4640 are available:
![Run2 2i_Y1_DIA_exptime_maps](https://user-images.githubusercontent.com/1994473/146697183-c5a61692-225a-4a6b-8ab8-819e1d45bce6.png)

[2022-01-05 22:09] heather999 commented on #60
Hi @humnaawan any input so we can try to add some entries for these sim files to GCRCatalogs and provide a useful README?

[2022-01-05 22:17] heather999 opened #63 "Update set up scripts for Perlmutter"
Now that Perlmutter is coming online, there are existing DESC setup scripts that run exclusively on Cori and may or may not work correctly on Perlmutter, esp if they are loading/unloading modules.
Here's an initial list of scripts that should be reviewed and modified to make sure they run on both Cori and Perlmutter:

- [ ] setup_current_python.sh for desc-python
- [ ] all setup scripts for desc-p

[2022-03-21 16:49] heather999 opened #64 "migrate Postgres from NERSC Spin Rancher1 to Rancher2"
NERSC has deprecated Rancher 1 which is where we are currently running our Postgres v13 database while we waited for Rancher2 to support non-https connections.  We should now move our Postgres instance to Rancher 2 and mirror the existing data in our Rancher 1 instance.

A preliminary to do list:

- [x] Stand up Postgres and PgBouncer on Rancher2, using the same v13 we are currently running
- [x]

[2022-09-23 23:47] humnaawan commented on #60
hi all, my apologies for dropping the ball on this. i wanted to share some updates:
- i have created a folder, `rubin-sim-dbs`, in `/global/cfs/cdirs/lsst/groups/OS/` which contains some of the released simulations (from scheduler version 1.5, 1.6, 1.7, 2.0, 2.1 so far). there's also a readme in the folder now that includes some details, including how I downloaded the dbs etc.

now a few questions

[2022-09-25 20:20] JoanneBogart commented on #60
Others should correct me if I'm wrong, but I think the main reason for adding the sims to `GCRCatalogs` would be to make them easier to find; that is, make use of `GCRCatalogs`' registry functionality.  As it happens, we're in the process of designing and implementing a new, still nameless, package to act as a registry, but not implement other GCRCatalogs functionality.  Since - I think - all we'r

[2022-09-27 23:14] heather999 commented on #60
Hi @humnaawan
I think Joanne addressed the question about GCRCatalogs - how you want to proceed with that is up to you.  Ultimately it is useful to provide some GCRCatalog registry entry or use the new system to make the databases easier to find... but we don't absolutely need to deal with that now.

As far as storing the files - I would really suggest copying whatever you what to share into `/glo

[2022-09-28 18:12] yymao commented on #60
Not much besides what @JoanneBogart has said.  At current stage it'd be nice to have a registry entry (just a simple yaml file) in `GCRCatalogs` so that we can keep track of all the data being shared. No need to provide a reader.

[2022-10-06 13:43] humnaawan commented on #60
thanks all!

re registering the dbs with`GCRCatalogs`: I dont have strong feeling re registering the dbs now with `GCRCatalogs` vs. later with the unnamed package - I'm happy to put this task on my todo list and I can try to get to it before the new package is released; I can most likely do this e.g. during Sprint Week. where can I find the documentation re the yaml file(s) that need to be created

[2022-10-06 15:30] yymao commented on #60
Documentation here: https://github.com/LSSTDESC/gcr-catalogs/blob/master/CONTRIBUTING.md#preparing-a-catalog-config

But since in this case there's no reader, the specification is more or less free form. I think you just need to add something like:

[code]

[2022-10-07 20:42] JoanneBogart commented on #60
One small thing - we unfortunately don't have a uniform way to specify the path to the catalog, but there are a small number of regularly-used keywords.  As far as I know `path` isn't one of them.   For catalogs consists of several files in a directory (so the directory is the thing to be referenced),  `base_dir` is probably the most common so that's what I recommend.   If you just want to point t

[2022-10-07 23:16] heather999 commented on #60
@humnaawan I've started the copy of the data into shared.  I just wanted to clarify one point.  Do you want to me to rename
`/global/cfs/cdirs/lsst/shared/external/rubin-survey-sim-data` to `/global/cfs/cdirs/lsst/shared/external/rubin-sim-dbs' so it matches what the OS directory name?

[2022-11-10 15:57] humnaawan commented on #60
hi @heather999 thank you for updating the directory name to `/global/cfs/cdirs/lsst/shared/external/rubin-survey-sim-data` - it looks great.

I have a couple of questions/requests:
- is there are a reason that `/global/cfs/cdirs/lsst/shared/external/rubin-survey-sim-data` does not contain the `old` subfolder that is in `/global/cfs/cdirs/lsst/groups/OS/rubin-sim-dbs`?
- can you please re-copy `rub

[2022-11-11 19:27] heather999 commented on #60
Hi @humnaawan
Concerning the `old` subdirectory - I had just assumed anything in `old` was no longer of interest. Should this subdirectory be included in the /global/cfs/cdirs/lsst/shared/external/ area?

I'll start a recopy and just go ahead and include old.  We can always remove it later.

[2022-11-14 18:29] heather999 commented on #60
Hi @humnaawan I have re-copied the `/global/cfs/cdirs/lsst/groups/OS/rubin-sim-dbs` area to /global/cfs/cdirs/lsst/shared/external.  The `old` subdirectory has one file (that I can see).  I don't have read access to it: `minion_1016_desc_dithered_v3.db
`.  I can copy over `old` if you do `chrgrp -R lsst old`

[2022-11-16 20:45] humnaawan commented on #60
hi @heather999 so the db in `old` is the db we used for DC2, I believe. at least a variation of it also went into some of the DESC publications (e.g.,  [COSEP](https://arxiv.org/abs/1708.04058v1), [2018 DESC SRD](https://arxiv.org/abs/1809.01669)); I say a variation since I think we used the original/undithered-but-post-processed-dithererd version in these publications but I don't recall the detai